 .u-section-1 {
  background-image: none;
  min-height: 848px;
}

.u-section-1 .u-shape-1 {
  height: 483px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 572px;
  min-height: 423px;
  margin: -423px auto 0 calc(((100% - 1140px) / 2) + 231px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -96px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 370px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("images/pexels-photo-3304057.jpeg?rand=ffae");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 402px;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -511px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 231px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 382px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 954px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 148px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 12px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-2 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 585px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2725px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 376px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1882px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-1 .u-image-2 {
    min-height: 458px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 323px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: linear-gradient(#fbeced, #eafdfc);
}

.u-section-2 .u-sheet-1 {
  min-height: 897px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 757px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 10px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: -29px 0 0 340px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0 340px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 60px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: -29px 0 0 340px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0 340px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 60px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: -29px 0 0 340px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0 340px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-left: 140px;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 140px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 140px;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 140px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 140px;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -29px;
    margin-left: 314px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 228px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -29px;
    margin-left: 314px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 228px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -29px;
    margin-left: 314px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 228px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 134px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 134px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 38px auto 51px -15px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 658px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-3 .u-group-1 {
  width: 261px;
  height: 261px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 32px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 45px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 80px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 658px;
  background-image: url("images/pexels-photo-2381345.jpeg?rand=41dc");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 11px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-1 {
    width: 240px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 173px;
  }

  .u-section-3 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 154px;
  }

  .u-section-3 .u-image-1 {
    min-height: 535px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-group-1 {
  width: 493px;
  min-height: 546px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 29px 30px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 610px;
  height: 436px;
  margin: -316px 183px 0 auto;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: -19px -17px 40px auto;
  padding: 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 386px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 243px;
  }
} .u-section-5 {
  background-image: url("images/pexels-photo-3184192.jpeg?rand=817a");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 758px;
}

.u-section-5 .u-group-1 {
  width: 419px;
  min-height: 382px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 316px auto 60px 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 270px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 625px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5 .u-group-1 {
    min-height: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 816px;
}

.u-section-6 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  width: 446px;
  margin: 19px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 19px 30px 21px;
}

.u-section-6 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-1 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-1 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-2 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-2 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-3 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-3 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-4 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-4 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-5 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-5 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-6 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-6 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-7 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-7 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-8 {
  margin-right: 11px;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-8 {
  transition-duration: 0.75s;
}

.u-section-6 .u-back-image-8 {
  width: 375px;
  left: -50px;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 168px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 946px;
}

.u-section-7 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/05d3595ef78b90e0ba7a13f68fbb0f532c9ddda30115725dd8c5d2464a157e1a1c7bb52016b5771e158980624cfbccfc595be474ff4b1b16b3d0e3_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  width: 438px;
  margin: 30px auto 0;
}

.u-section-7 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 70px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 200px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}